
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Fjalla+One&family=Indie+Flower&family=Josefin+Sans&family=Lilita+One&family=Lobster&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Lobster+Two:ital@1&family=Merienda&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-position: center;
}
/*-----------------------------------------------------h1 & p---------------------------------------*/
h1{
        
    font-family: 'Lobster', cursive;
    margin: auto;
    text-align: center;
    color: #FFC312;
    margin-bottom: 3px;

}
@media (max-width:700px){
    h1{
        font-size: 40px;
    }
}
h2{
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    margin: 10px 0;
    color:#fff;
    margin: auto;
    margin-bottom: 20px;

}
 p{
    font-family:'Merienda', cursive;
    color: black;
    font-size: 17px;
    padding: 10px 10px;
    padding-top: -10px;
    margin-bottom: 10px;
    opacity: 1;
 }




/*-----------------------------------------navigation bar------------------------------------------------------*/
header{
    position: fixed;
    
    top: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
   
    
}

header .logo {
    width: 33%;
    height: 2%;
}
.logo img{
    width: 40%;
}
header .navbar ul{
    list-style: none;
    font-family: 'Lobster Two', cursive;
    width: 1000px;
    margin-right: -50px;
    
}
header .navbar ul li{
    position: relative;
    float: left;
    
}
header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}
header .navbar ul li a:hover{
    background: #333;
    color: #fff;

}
header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
}
header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}

#menu-bar{
    display: none;
}
header label{
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
    font-family: 'Lobster Two', cursive;
}

@media(max-width:991px){
    header{
        padding: 20px;
    }
    header .logo {
        width: 100%;
        
    }
    header label{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
    }
    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }
    #menu-bar:checked ~ .navbar{
        display: initial;

    }
}



/*-----------------------------------------------------Video background---------------------------------------*/
video {
    z-index: -99;
    object-fit: cover;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    
  }
 

 
  /*-----------------------------------------------------html, body, titlebox---------------------------------------*/
html, body {
    height: 100%;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
  }
  body {
    margin: 0;
    
  }

  .title-box{
    background: transparent;
    margin-top: 70px;
  }
  .container{
    text-align: center;
    background-color:white ;
    width: 95%;
    align-self: center;
    height:fit-content;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 1;
   
    justify-content: center;
    align-items: center;

    
}
.bg-container{
    width: 100%;
    background-color: #24262bd2;
    padding-bottom: 20px;
    padding-top: 10px;
}
#green-bg{
    background-color: #38ada9e5;
}
#hawksbill-bg{
    background-color: #78e08fe5;
}
#loggerhead-bg{
    background-color: #6a89cce0;
}
#leatherback-bg{
    background-color: #82ccdddc;
}
#olive-ridley-bg{
    background-color: #e55039dc;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
           
}
.list{
    
    width: 220px; 
    height: 200px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: left; 
   
    
}

  /*-----------------------------------------------------Main title---------------------------------------*/
  
  .container-title {
    position: relative;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-title h1 {
    font-family: 'Lobster Two', cursive;
    color: white;

    
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
   margin-bottom: 15%;
    
    
  }

   .container-title h1 span {
      display: block;
      font-size: 10vw;
      
      word-spacing: 2vw;
     
    }

    @media(max-width:700px){
        .container-title{
            margin-bottom: 0;
            margin-top: 50%;
            

        }
        .container-title h1{
            margin-bottom: 110%;
            font-size: 22px;
           
        }
        .container-title h1 span{
            font-size: 65px;
        }

    }
 
    /*------------------------------------------------------Maps------------------------------------------------*/
    @media (max-width:700px){
    iframe{
        padding: 10px 10px;
        width: 90%;
    }
}
    

/*-----------------------------------------------------intro-----------------------------------------------------------*/
    .intro-container{
        text-align: center;
        background-color:#edeae0;
        width: 95%;
        align-self: center;
        height:fit-content;
        margin-bottom: 20px;
        
    }
 /*-----------------------------------------------------green turtle-----------------------------------------------------------*/   
   
    #green-turtle{
        border-radius: 10px;
    }
    @media (max-width:700px){
        #green-turtle{
            width: 90%;
        }
    }
    /*-----------------------------------------------------hawksbill turtle-----------------------------------------------------------*/
    
    #hawksbill-turtle{
        border-radius: 10px;
    }
    @media (max-width:700px){
        #hawksbill-turtle{
            width: 90%;
        }
    }
    /*-----------------------------------------------------hawksbill turtle-----------------------------------------------------------*/
    
    #loggerhead-turtle{
        border-radius: 10px;
        width: 60%;
    }
    @media (max-width:700px){
        #loggerhead-turtle{
            width: 90%;
        }
    }
    /*-----------------------------------------------------leatherback turtle-----------------------------------------------------------*/
    
    #leatherback-turtle{
        border-radius: 10px;
        width: 60%;
    }
    @media (max-width:700px){
        #leatherback-turtle{
            width: 90%;
        }
    }

    
     /*-----------------------------------------------------olive ridley turtle-----------------------------------------------------------*/
     .image-container{
        display: flex;
        
     }
     
   .image-container img{
    border-radius: 10px;
        width: 30%;
        display: flex;
        max-width: 100%;
        margin-left:2.45%;
        margin-bottom: 10px;
        
   }
    @media (max-width:700px){
       .image-container{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
       }
       .image-container img{
        width: 90%;
        margin-bottom: 5px;
        margin-left: 0;
       }
    }

    /*---------------------------------------------------------Table-----------------------------------------------*/
    .table {
        margin-top: 20px;
        border-collapse: collapse;
        background-color: black;
        width: 100%;
        border: 10px solid #cc8e35;
      }
     
      
      .table th, .table td {
        font-family: 'Poltawski Nowy', serif;
        font-size: larger;
        color: white;
    
        text-align: left;
        padding: 8px 8px;
        border: 1px solid gray;
       
      }
      .location-list{
        margin-left: 9px;
        
      }
      .description{
        width: 40%;
      }
      
      tr:nth-child(even){background-color:#485460; 

    }
    #table-green{
        width: 400px;
    }
    #table-hawksbill{
        width: 400px;
    }
    #table-loggerhead{
        width: 400px;
    }
    #table-leatherback{
        width: 400px;
    }
    #table-olive-ridley{
        width: 400px;
    }

    @media(max-width:700px){
        #table-green{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        #table-hawksbill{
            
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        #table-loggerhead{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        #table-leatherback{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        #table-olive-ridley{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        
        .table{
            border: 0;
        }

        
        

    }
    /*----------------------------------footer-------------*/
    .footer-container{
        max-width: 1170px;
        line-height: 1.5;
        margin: auto;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-ul{
        list-style: none;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
        
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
        margin-left: 0;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;

    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #fff;
        text-decoration: none;
        font-weight: 300;
        color: #bbb;
        display: block;
        transition: all 0.3s ease;

    }
    .footer-col ul li a:hover{
        color: #fff;
        padding-left:8px ;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 20px 0;
        text-align: center;
        padding-top: 7px;
        
        border-radius: 50%;
        color: #fff;
    }
    
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #fff;

    }
    @media(max-width:767){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;

        }
    }
    @media(max-width:574){
        .footer-col{
            width: 100%;
            margin-bottom: 30px;
            
            
        }
    }

    

    